
<div class="modal fade" tabindex="-1" role="dialog" aria-labelledby="gridModalLabel">
<div class="modal-dialog" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="gridSystemModalLabel">
                <% if (Model.isNew()) { %>
                    Add new entry to <%= DataType.get('name') %>
                <% } else { %>
                    Edite <%= Model.get('name') %>
                <% } %>
            </h4>
            <div class="clearfix"></div>
        </div>
        <div class="modal-body">
            
            <p class="text-warning form-action-model-error">
                
            <p>
            
            <div class="fields">
                
            </div>
            
            <div class="clearfix"></div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default form-action-close" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-success form-action-success">Save changes</button>
            <div class="clearfix"></div>
        </div>
        <div class="clearfix"></div>
    </div><!-- /.modal-content -->
</div><!-- /.modal-dialog -->
</div>

